*node_modules
*dist
*past
*compiled
*lib
*fetch  
*index.ts
*webp*
searchFiles.ts
*image*

# claude関連
.claude
CLAUDE.md
docs/tasks/TASKS.md
docs/plans/video_translation_efficiency/

# 案件名を含むためgit管理外
targetFileList.ts
